<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>车辆识别</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery-3.5.1.js"></script>
    <script>
        $(function () {
            $("#submit-btn").click(function () {
                let $file = $("#file");    //获取表单数据
                let src = getObjectURL($file[0].files[0]);  //转化为DOM对象后，获取文件（jQuery无法进行操作）
                $("#image").attr("src", src);
                $.ajax({
                    url: "/management/vehicleIdentification",
                    data: new FormData($('#uploadForm')[0]),
                    type: "POST",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        $("#submit-btn").attr("class", "btn btn-success");  //设置属性
                        let results = data.result;
                        $("#resultForm").html("");  //清空表格
                        for (const result of results) {
                            renderForm(result);
                        }
                    },
                    error: function () {
                        $("#submit-btn").attr("class", "btn btn-danger");
                    },
                    dataType: "json"
                });
            });
        });

        function renderForm(result) {   //渲染结果表单
            $("#resultForm").append(
                "        <tr>\n" +
                "            <td>" + result.name + "</td>\n" +
                "            <td>" + result.score + "</td>\n" +
                "            <td>" + result.year + "</td>\n" +
                "        </tr>"
            )
        }

        function getObjectURL(file) {   //获取上传图片的地址生成零时文件（名称为uuid）
            let url = null;
            if (window.createObjectURL !== undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL !== undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file)
            } else if (window.webkitURL !== undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }
    </script>
</head>

<body>
<!--导航栏-->
<div th:replace="~{commons/header::navbar(pageName='vehicleIdentification')}"></div>
<div class="col-md-6">
    <img id="image" style="width: 500px;height: auto;max-height: 700px;">
</div>
<!--识别结果-->
<div class="col-md-6">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>名称</th>
            <th>置信度</th>
            <th>年份</th>
        </tr>
        </thead>
        <tbody id="resultForm">
        <tr>
            <td>非车类</td>
            <td>1</td>
            <td>无年份信息</td>
        </tr>
        <tr>
            <td>非车类</td>
            <td>
                1
            </td>
            <td>
                无年份信息
            </td>

        </tr>
        <tr>
            <td>非车类</td>
            <td>
                1
            </td>
            <td>
                无年份信息
            </td>

        </tr>
        <tr>
            <td>非车类</td>
            <td>
                1
            </td>
            <td>
                无年份信息
            </td>

        </tr>
        <tr>
            <td>非车类</td>
            <td>
                1
            </td>
            <td>
                无年份信息
            </td>

        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-offset-6">
    <form id="uploadForm" method="post" enctype="multipart/form-data">
        <div class="form-group insertFrom">
            <label for="file">上传图片</label>
            <input type="file" name="file" id="file">
        </div>
        <button id="submit-btn" class="btn btn-primary" type="button">提交</button>
    </form>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="/js/jquery-3.5.1.js"></script>-->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>