<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roderick.dao.ImageDao">
    <insert id="insertImage">
        insert into image (vehicle_id,image_path)
        value (#{vehicle_id},#{image_path})
    </insert>
    <select id="getImagePathByVehicleId" resultType="java.lang.String">
        select image_path from image where vehicle_id=#{vehicle_id}
    </select>
    <delete id="deleteImageByVehicleId">
        delete from image where vehicle_id=#{vehicle_id}
    </delete>
</mapper>