<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>纽北圈速展示</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<!--导航栏-->
<div th:replace="~{commons/header::navbar(pageName='lapTime')}"></div>
<div class="col-md-4">
    <img th:src="${imagePath} == '' ? '/images/image-not-found.jpg' : '/images/vehicle/'+${imagePath}" alt="图片" style="width: 500px;height: auto;max-height: 700px;">
</div>
<div class="col-md-offset-2 col-md-6">
    <p th:text="${vehicle.getIntroduction()}"></p>
</div>

<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>