<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>纽北圈速展示</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<img src="/images/vehicle/1200px-Festival_automobile_international_2014_-_Alfa_Romeo_4C_-_009.jpg" alt="图片">
<p>The Alfa Romeo 4C Concept is a two-seater, rear-wheel drive coupé with technology and materials derived from the Alfa
    Romeo 8C Competizione, with a 1750 cc turbo petrol engine with direct injection, the "Alfa TCT" twin dry clutch
    transmission, and the Alfa DNA dynamic control selector.

    The 4C concept version was unveiled in the 81st Geneva Motor Show in March 2011,[8][9] followed by the Mille Miglia
    2011 parade,[10] Goodwood Festival of Speed 2011,[11] 2011 Frankfurt Motor Show.[12]

    It was displayed for the first time outside in Concorso d'Eleganza Villa d'Este in 2012. Compared to the production
    version, it is very similar, with the biggest differences being front lights, side vents and mirrors.</p>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/js/jquery-3.5.1.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>